BOT_TOKEN=your-token-goes-here
BOT_NAME=your-bot

DARKSKY_API_KEY=a0a83ab98a7a3fcb2d826f90097538e6

GIPHY_API_KEY=2L0WQWC07NogJFDRX1ltM1Y0sDpSSk9p

GOOGLE_API_KEY=AIzaSyBR1BD5Qj3H09zi4F7kZOx0nDjwoYgcLWA

TWITTER_CONSUMER_KEY=lkioPnvFTGsTarHfUERNZpcyD
TWITTER_CONSUMER_SECRET=1LmjdOnRm5SCI1vFRnHC2Z1qp7lsM74bDnH5wVVLi2uigupADj
TWITTER_ACCESS_TOKEN_KEY=27399204-RBA1jVEdcDovII0zqiK8DoaNz6h7UFXDmXk2YHOtD
TWITTER_ACCESS_TOKEN_SECRET=4zmfr48kI19n2uaTvytqb0hOHDY4BGViNgpWQ5af5Mma0